.formTitle{
    color: #ffffff;   
    margin: 1.5rem 0; 
    padding: 0.5rem 0;
    border-top: 1px solid #2271D180;
    border-bottom: 1px solid #2271D180;
}

.buttons Button{
    color: #ffffff;
}

.color Input{
    height: 50px;
}