.textarea{
    width: 100%;
    margin-bottom: 1rem;
}
.textarea label{
	color: #ffffff;
	margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 1rem;
}
 
.textarea textarea{
	width: 100%;
    height: 120px;
	background-color: transparent;
	border: 1px solid #2271D1;
    border-radius: 15px;
    color: #ffffff;
	padding: 1rem 0.5rem;
	font-size: 0.8rem;
    resize: none;
    overflow-y: scroll; 
}
.textarea textarea::-webkit-scrollbar {
    width: 5px;
}

.textarea textarea::-webkit-scrollbar-track {
    background: transparent; 
}

.textarea textarea::-webkit-scrollbar-thumb {
    background: #2271D1;
    border-radius: 5px; 
}