.button{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
    background-color: var(--primary-color, #007bff );
    border-color: var(--text-color, #ffffff );
    border-width: 2px;
    color: var(--text-color, #ffffff);
    margin: 0 0.2rem;
    box-shadow: 0px 0px 6px 0.5px var(--text-color, #2271D1) inset;
}
.button:hover{
    box-shadow: 0px 0px 6px 0.5px  #2271D1 inset;
}

.button i{
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}